# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
ENV/

# PyInstaller
*.spec

# Logs
*.log

# SQLite / database
*.db

# Sensitive environment variables
.env

# IDE
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
